%p#notice= notice

%h2 5 derniers livres lus
%table
  %tr
    %th Titre
    %th Auteur
  - @read_books.each do |read_book|
    %tr
      %td= read_book.title
      %td= read_book.author
- if @more_than_5_read
  Voir tous les livres lus

-# = link_to 'Edit', edit_user_path(@user)
-# \|
-# = link_to 'Back', users_path
