%p= t "devise.mailer.hello"

%p= t "devise.mailer.locked"

%p= t "devise.mailer.click_to_unlock"

%p= link_to t('devise.mailer.unlock', unlock_url(@resource, :unlock_token => @resource.unlock_token) %>

